*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}
main{
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}
.section1{
    
}