*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}
main{
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}
.section1{
    background-color:blue;
    opacity:0.2;
    padding:0 10px 10px;
    border-radius: 8px;
}
h1{
    text-align: center;
}
button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.section2{
    padding: 0 20px;
    width: 250px;
    height: auto;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    background-color:aqua;
}
.estadisticas{
    border:1px solid white;
    height: 100px;
    border-radius: 8px;
    padding: 8px 20px;
}
.start{
    height: 50px;
    width: 250px;
    font-size: 15px;
    margin-bottom: 20px;
    color: white;
    background-color: #4286f4;
    border: 1px solid white;
    border-radius: 8px;
}
.disable{
    cursor: not-allowed;
    opacity: 0.5;
}